---
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alertas de Movimientos</title>
    <script src="/js/alertas.js" defer></script>
  </head>
  <body>
    <h1>Bienvenido a mi página de Astro</h1>
    <h2>Alertas de Movimientos en Binance</h2>
    <ul id="alerts"></ul>
  </body>
</html>
