:root {
    --bg-color: #fff;
    --text-color: #000;
    --header-bg: #333;
    --header-text: #fff;
    --table-bg: #f4f4f4;
    --table-border: #ddd;
    --progress-bg: #ddd;
    --progress-bar-bg: #4caf50;
}

[data-theme="dark"] {
    --bg-color: #181818;
    --text-color: #f4f4f4;
    --header-bg: #555;
    --header-text: #fff;
    --table-bg: #333;
    --table-border: #444;
    --progress-bg: #444;
    --progress-bar-bg: #4caf50;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-bg);
    color: var(--header-text);
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: var(--header-text);
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

#results {
    margin-top: 2em;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid var(--table-border);
    background-color: var(--table-bg);
}

#progress-container {
    margin-top: 1em;
    width: 100%;
    background-color: var(--progress-bg);
}

#progress-bar {
    display: none;
    width: 0%;
    height: 20px;
    background-color: var(--progress-bar-bg);
}
