---
import AlertasMovimientos from '../../components/AlertasMovimientos.astro';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página de Astro</title>
  </head>
  <body>
    <h1>Alertas movimiento</h1>
    <AlertasMovimientos />
  </body>
</html>
